:root
{
    --light-color: #ffffff;
    --warning-color: #c0c0c0;
    --button-color: #167bf7;
    --dark-color: #00030c;
    --font: 'Inter';
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: var(--font);
}




